@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
}

a,
.green {
  @apply p-2 transition no-underline rounded;
  color: hsla(160, 100%, 37%, 1);
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

.borderm-b {
  @apply border-0 border-b-2 border-gray-400;
}

input,
select {
  @apply w-full py-2 px-3 rounded border border-gray-300;
}

.btn {
  @apply flex items-center justify-center rounded bg-sky-600 text-gray-50 py-2 px-6 transition-colors cursor-pointer;
}
.btn:hover {
  @apply bg-sky-500 text-white;
}
.btn:disabled {
  @apply text-gray-300 bg-sky-500 cursor-not-allowed pointer-events-none;
}

h3 {
  @apply text-lg font-bold;
}
